/** @define PeopleTable */

@import "styles/theme.css";


.PeopleTable {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column;
}

.PeopleTable-thead {
    /* head takes the height it requires,
    and it's not scaled when table is resized */
    flex: 0 0 auto;
    width: calc(100% - 0.9em);
    display: table;
    table-layout: fixed;
}

.PeopleTable-row {
    width: 100%;
    display: table;
    table-layout: fixed;
}

.PeopleTable-tbody {
    /* body takes all the remaining available space */
    flex: 1 1 auto;
    display: block;
    overflow-y: scroll;
}

.PeopleTable-name {
    font-family: var(--font-family-bold);
}
