@import "styles/theme.css";
@import "styles/theme-map.css";

/** @define NeedsFilter */

.NeedsFilter {
    overflow-y: auto;
}

.NeedsFilter-inputContainer {
    margin-top: 12px;
}

.NeedsFilter-label {
    margin-top: calc(var(--space-small-px) - 2);
    color: var(--color-dark-gray);
}
