/** @define NeedsTable */

@import "styles/theme.css";


:root {
    --font-size-smaller: 0.85rem;
}

.NeedsTable {
    overflow-y: auto;
    margin-left: 2rem;
}

.NeedsTable-table {
    width: 98%;
}

.NeedsTable-row.is-selected {
    background-color: var(--color-light-yellow);
}

.NeedsTable-skill {
    font-family: var(--font-family-bold);
}

.NeedsTable-startDate {}

.NeedsTable-endDate {
    color: var(--color-dark-gray);
}

.NeedsTable-assignment {
    font-weight: 500;
}