/** @define PeoplePanel */
@import "styles/theme.css";

:root {
    --PeoplePanel-container: 2rem;
}

.PeoplePanel { }

.PeoplePanel-title {
    margin: var(--PeoplePanel-container) 0;
}

.PeoplePanel-container {
    margin-bottom: var(--PeoplePanel-container);
    height: 33rem;
}

