.toolbar {
    font-size: 16px;
}

.toolbar-title {
    font-size: 20px;
    font-weight: normal;
    letter-spacing: .1px;
}

.toolbar-gap {
    flex: 1;
}

.toolbar-open, .toolbar-closed {
    margin-right: 10px;
}

