@import "suitcss-components-button";
@import "styles/theme.css";
@import "styles/theme-map.css";


/** @define Button */
.Button--default {
    padding: var(--Button-padding);
    color: var(--color-white);
    background: var(--color-deep-blue);
    border-radius: var(--Button-border-radius);
    margin: 20px auto;
}

.Button--default:hover {
    background: var(--color-dark-blue);
}