/** @define Header */

@import "styles/theme.css";

.Header {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1rem .5rem;
    color: var(--color-white);
    background: var(--color-twitter-blue);
}

.Header-title {
    flex: 1 0 auto;
    font-size: 1.5rem
}

.Header-item {
    margin: 0 1rem;
}

