/** @define Header */

@import "styles/theme.css";
@import "styles/theme-map.css";


.Header {
    padding: 1rem .5rem;
    color: var(--Header-color);
    background: var(--Header-background-color);
    position: var(--Header-position);
    width: 100%;
    height: var(--Header-height);
    z-index: 100;
}

.Header-title {
    flex: 1 0 auto;
    font-size: 1.5rem
}

.Header-items {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 auto;
    max-width: 1400px;
    padding: 0 20px;
}

.Header-item {
    margin: 0 1rem;
}

