@import "styles/theme.css";
@import "styles/theme-map.css";

/** @define Select */


.Select {
    margin: 0.3rem 0;
}

.Select-control {
    padding: 0.3rem 1rem 0.3rem 0.5rem;
    color: var(--Select-color);
    background: var(--Select-background-color);
    border-radius: var(--Select-border-radius);
    border: 1px solid var(--Select-border-color);
}

.Select-figure {
    color: var(--Select-color);
    width: 10px;
    height: 10px;
    right: 0.5rem;
}


