/** @define Layout */
@import "styles/theme.css";

:root {
    --Main-container: 1600px;
    --Main-space-large-px: 20px;
    --Main-background: var(--color-faint-gray);
}

.Main {
    background-color: var(--Main-background);
    margin: 0 auto;
    max-width: var(--Main-container);
    padding: 4rem var(--Main-space-large-px);

}