/** @define NeedsTable */

@import "styles/theme.css";


:root {
    --font-size-smaller: 0.85rem;
}

.NeedsTable {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column;
}

.NeedsTable-thead {
    /* head takes the height it requires,
    and it's not scaled when table is resized */
    flex: 0 0 auto;
    width: calc(100% - 0.9em);
    display: table;
    table-layout: fixed;
}

.NeedsTable-tbody {
    /* body takes all the remaining available space */
    flex: 1 1 auto;
    display: block;
    overflow-y: scroll;
}

.NeedsTable-row {
    width: 100%;
    display: table;
    table-layout: fixed;
    font-size: var(--font-size-smaller);
}

.NeedsTable-row.is-selected {
    background-color: var(--color-light-yellow);
}

.NeedsTable-skill {
    font-size: var(--font-size);
    font-weight: 500;
}

.NeedsTable-startDate {}

.NeedsTable-endDate {
    color: var(--color-dark-gray);
}

.NeedsTable-assignment {
    font-weight: 500;
}