<table class="mintable needs-table">
    <tr>
        <th>Skill</th>
        <th>Project</th>
        <th>Date</th>
        <th>Assignment</th>
    </tr>
    <tr class="need-row pointer" *ngFor="let needId of filteredNeeds"
        (click)="handleClick(needId)"
        [ngClass]="{ selected: (selectedNeedId === needId) }">
        <td class="skill">{{getSkillName(needId)}}</td>
        <td class="project">{{getProjectName(needId)}}</td>
        <td>
            <span class="start-date">{{getStartDate(needId) | date:'shortDate'}}</span><br>
            <span class="end-date">{{getEndDate(needId) | date:'shortDate'}}</span>
        </td>
        <td class="assignment">{{getPersonName(needId)}}</td>
    </tr>
</table>
