@import '../../../styles/colors';

.needsTable {
    flex: 1;
    margin-top: 9px;
    overflow: auto;
}

.skill {
    font-size: 16px;
    font-weight: 500;
}

.project {
    font-size: 14px;
    font-weight: 500;
    color: $app-text-color-medium;
}

.startDate {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.5;
    color: $app-text-color-medium;
}

.endDate {
    font-size: 14px;
    color: $app-text-color-light;
}

.assignment {
    font-size: 14px;
    font-weight: 500;
    color: $app-text-color-medium;
}
