<table class="mintable people-table">
    <tr>
        <th></th>
        <th>Name</th>
        <th>Email</th>
        <th>Phone</th>
    </tr>
    <tr class="person-row" *ngFor="let person of people">
        <td>
            <input type="checkbox"
                   [ngModel]="isAssignedToSelectedNeed(person)"
                   (click)="handleClick($event, person)">
        </td>
        <td class="name">{{person.name}}</td>
        <td class="email">{{person.email}}</td>
        <td class="phone">{{person.phone}}</td>
    </tr>
</table>
