/** @define PeopleTable */

@import "styles/theme.css";


.PeopleTable {
    overflow-y: auto;
}

.PeopleTable-table {
    width: 98%;
}

.PeopleTable-name {
    font-family: var(--font-family-bold);
}
