@import "styles/theme.css";

/** @define PeoplePanel */

:root {
    --PeoplePanel-container: 2rem;
}

.PeoplePanel {
    margin-left: 2rem;
}

.PeoplePanel-title {
    margin: var(--PeoplePanel-container) 0;
}

.PeoplePanel-container {
    margin-bottom: var(--PeoplePanel-container);
}

