/** @define NeedsPanel */
@import "styles/theme.css";

:root {
    --NeedsPanel-container: 2rem;
}

.NeedsPanel {
    border-right: 1px solid var(--color-gray);
}

.NeedsPanel-title {
    margin: var(--NeedsPanel-container) 0;
}

.NeedsPanel-container {
    margin-bottom: var(--NeedsPanel-container);
    height: 33rem;
}

.NeedsPanel-table {
    margin-left: 1rem;
}
