/** @define Layout */
@import "styles/theme.css";
@import "styles/theme-map.css";


.Main {
    background-color: var(--Main-background);
    margin: 0 auto;
    max-width: var(--Main-container);
    padding: 4rem var(--Main-space-large-px) 0;

}