<table class="mintable people-table">
    <tr>
        <th></th>
        <th>Name</th>
        <th>Email</th>
        <th>Phone</th>
    </tr>
    <tr class="person-row" *ngFor="let personId of matchedPeople">
        <td>
            <input type="checkbox"
                [ngModel]="isAssignedToSelectedNeed(personId)"
                (click)="handleClick($event, personId)">
        </td>
        <td class="name">{{getName(personId)}}</td>
        <td class="email">{{getEmail(personId)}}</td>
        <td class="phone">{{getPhone(personId)}}</td>
    </tr>
</table>
