/* postcss-bem-linter: ignore */

@import "suitcss-base";
@import "suitcss-utils";
@import "suitcss-components-grid";

@import "suitcss-components-select";

@import "styles/theme.css";
@import "styles/theme-map.css";



/*
 * Base styles
 * ========================================================================== */

@font-face {
    font-family: "open-sans-regular";
    src: url("../fonts/opensans-regular-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: "robotoregular";
    src: url("../fonts/roboto-regular-webfont.woff2") format("woff2"),
    url("../fonts/roboto-regular-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "robotobold";
    src: url("../fonts/roboto-bold-webfont.woff2") format("woff2"),
    url("../fonts/roboto-bold-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}


html {
    color: var(--text-color);
    background-color: var(--background-color);
    font-family: var(--font-family);
    font-weight: 100;
    font-size: var(--font-size);
    line-height: var(--line-height);
    letter-spacing: 0.05em;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
}


h1,
h2,
h3 {
    font-weight: normal;
    font-family: var(--font-family-header);
}

label {
    display: block;
}

input{
    margin: 0.3rem 0;
    padding: 0.3rem 0.3rem 0.3rem 0.5rem;
    width: 100%;
}

input[type="checkbox"] {
    margin-right: 1rem;
    width: auto;
}

table {
    border-collapse: collapse;
}

tbody tr:hover {
    background-color: var(--color-border-gray);
}


td, th {
    border-bottom: 1px solid var(--color-border-gray);
    padding: 0.5rem;
    text-align: left;
}

th {
    color: var(--color-dark-blue);
    border-bottom: 2px solid var(--color-border-gray);
}


/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::selection {
    background: var(--color-light-blue);
    text-shadow: none;
}