/**
 * components-grid
 */

:root {
    --Grid-gutter-size: var(--space-large-px);
}

/**
*   components-main
*/
:root {
    --Main-container-min-width: 1200px;
    --Main-container-max-width: 1400px;
    --Main-space: 2rem;
    --Main-background: var(--color-faint-gray);
}


/**
*   components-app-bar
*/

:root {
    --AppBar-color: var(--color-white);
    --AppBar-background-color: var(--color-twitter-blue);
    --AppBar-height: 4rem;
    --AppBar-position: fixed;
}


/**
*   components-button
*/

:root {
    --Button-border-width: 1px;
    --Button-border-radius: 0;
    --Button-border-color: currentcolor;
    --Button-color: currentcolor;
    --Button-font: inherit;
    --Button-padding: 0.5rem 0.75rem;
    --Button-disabled-opacity: 0.6;
}


/**
*   components-select
*/

:root {
    --Select-color: currentcolor;
    --Select-background-color: var(--color-white);
    --Select-focus-color: var(--color-dark-blue);
    --Select-disabled-opacity: 0.6;
    --Select-border-radius: 0;
    --Select-border-color: var(--color-gray);
}

/**
*   components-H1
*/
/*:root {*/
    /*--H1-font-weight: normal;*/
    /*--H1-font-family: var(--font-family);*/
    /*--H1-font-size: 2rem;*/
    /*--H1-margin-bottom: 0.25rem;*/
/*}*/