<h1 class="title">Needs</h1>

<div class="needs-panel-subcontainer">
    <app-needs-filter
        [allProjects]="allProjects"
        [allSkills]="allSkills"
        (filterChanged)="handleFilterChanged($event)">
    </app-needs-filter>

    <app-needs-table
        [personMap]="personMap"
        [projectMap]="projectMap"
        [skillMap]="skillMap"
        [filteredNeeds]="filteredNeeds"
        [selectedNeedId]="selectedNeedId"
        (needSelected)="handleNeedSelected($event)">
    </app-needs-table>
</div>
