/** @define Layout */


:root {
    --Layout-container: 1600px;
    --Layout-space-large-px: 20px;
}

.Layout {
    margin: 0 auto;
    max-width: var(--Layout-container);
    padding: 0 var(--Layout-space-large-px);

}